<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form float-center">
  <ng-icon name="heroXMark" class="xicon" (click)="handleClose()"></ng-icon>
  <label for="currentPassword" class="form-label">گذرواژه فعلی:</label>
  <input
    id="currentPassword"
    name="currentPassword"
    type="text"
    formControlName="currentPassword"
    class="form-input"
    dir="ltr"
  />
  <span class="form-invalid" *ngIf="formGroup.get('currentPassword')?.invalid && ( formGroup.get('currentPassword')?.dirty || formGroup.get('currentPassword')?.touched )">
    @if (formGroup.get('currentPassword')?.hasError('required')) {
      این فیلد الزامی است.
    }
  </span>

  <label for="newPassword" class="form-label">گذرواژه جدید:</label>
  <input
    id="newPassword"
    name="newPassword"
    type="text"
    formControlName="newPassword"
    class="form-input"
    dir="ltr"
  />
  <span class="form-invalid" *ngIf="formGroup.get('newPassword')?.invalid && ( formGroup.get('newPassword')?.dirty || formGroup.get('newPassword')?.touched )">
    @if (formGroup.get('newPassword')?.hasError('required')) {
      این فیلد الزامی است.
    } @if (formGroup.get('newPassword')?.hasError('minlength')) {
      پسوورد باید حداقل ۸ کارکتر باشد.
    } @if (formGroup.get('newPassword')?.hasError('pattern')) {
      پسوورد باید از حداقل یک حرف بزگ، کوچک، عدد و یک کارکتر تشکیل شده باشد.
    }
  </span>

  <label for="confirmPassword" class="form-label">تایید گذرواژه جدید:</label>
  <input
    id="confirmPassword"
    name="confirmPassword"
    type="text"
    formControlName="confirmPassword"
    class="form-input"
    dir="ltr"
  />
  <span class="form-invalid" *ngIf="formGroup.get('confirmPassword')?.invalid && ( formGroup.get('confirmPassword')?.dirty || formGroup.get('confirmPassword')?.touched )">
    @if (formGroup.get('confirmPassword')?.hasError('required')) {
      این فیلد الزامی است.
    } @if (formGroup.get('confirmPassword')?.hasError('minlength')) {
    پسوورد باید حداقل ۸ کارکتر باشد.
  } @if (formGroup.get('confirmPassword')?.hasError('pattern')) {
    پسوورد باید از حداقل یک حرف بزگ، کوچک، عدد و یک کارکتر تشکیل شده باشد.
  }
  </span>

  <button class="form-button" type="submit">تغییر پسوورد</button>
</form>
